@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 1000ms;
}

input [type="file"]{
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 16px 32px;
}

td {
    background-color: #fff;
    color: #333;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    padding: 16px 32px;
    text-align: center;
}